div:hover {
   
    border-color: blue;
    
    border-style:ridge;
}

.um 
{
    background-color:red;
}
.dois
{
    background-color: orange;
}
.três
{
    background-color: gray;
    height: 60px;
}
.quatro
{
    background-color: brown;
}
.cinco
{
    background-color: cyan;
}

#primeiro 
{
    text-decoration-style: dotted;
    
    font-style: italic;
}

#segundo
{
    text-decoration-style:double;
    font-style:inherit;
}

#terceiro
{
    text-decoration-style: solid;
    font-style: italic;
}

#quarto
{
    text-decoration-style:wavy;
    font-style:unset;
}

#quinto 
{
    text-decoration-style:inherit;
    font-style: italic;
}


