.super-mario {
    width: 200px;
    position: absolute;
   left: 30%;
   bottom: 300px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 350px;
    left: 34%;
  }
  
  .baloon {
  
  right: 60%;
  position: absolute;
  
  z-index: 2;
  bottom: 180px;
  left: 58%;

  }
  
  .speach {
    position: absolute;
    font-size: 24px;
    left: 60%;
    bottom: 250px;
    z-index: 3;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 460px;
    left: 80%;
    z-index: 1;
  }